/**/*.o
/**/*.baremetal
/**/*.asm
obj
obj_dir
output_icarus
output_verilator
sim
output
INCA_libs
*.log
irun.*
xrun.*
.simvision
waves.shm
xcelium.shm
***.swp
tb/sim_build*
__pycache__
results.xml
dump.fst
run_dir
.tox
.test_durations
