name: Regression Tests
on: [push, pull_request]

jobs:
  test:
    name: Tox (pytest) - ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: ['3.9']

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Verilator
      run: |
        sudo apt install -y --no-install-recommends make g++ perl lcov python3 autoconf flex bison libfl2 libfl-dev zlibc zlib1g zlib1g-dev
        git clone https://github.com/verilator/verilator.git
        cd verilator
        git checkout v4.106
        autoconf
        ./configure
        make -j $(nproc)
        sudo make install
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Test with tox
      run: tox

    - name: Generate coverage
      run: make cov RUN_CMD=

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.info
        verbose: true
